* {
  margin: 0;
  border: 0;
  padding: 0;
}

.time-picker {
  margin: 0 -5px;
}
.time-picker-header {
  position: relative;
  width: 95vw;
}
.TimeSlotListsInOneWeek {
  width: 95vw;
  position: relative;
}
.date-slot {
  list-style: none;
  padding: 0;
}
.date-slot-wrapper {
  width: 13.5%;
  text-align: center;
  float: left;
}
.date-slot-item {
  margin: 0 20px 10px;
  padding: 10px;
  border: 1px solid transparent;
}
.date-slot-item.active {
  border: 1px solid #fccc83;
}
.date-slot-item.no-free-slot > * {
  color: #666;
}
.date-slot-day, .date-slot-date {
  display: block;
}
.date-slot-day {
  font-size: 16px;
  line-height: 24px;
  color: #666;
}
.date-slot-date {
  font-size: 24px;
  line-height: 36px;
  color: #000;
}
.TimeSlotListInOneDay {
  list-style: none;
  padding: 0;
  float: left;
  display: inline-block;
  width: 13.5%;
}
.timeSlot {
  font-size: 14px;
  line-height: 80%;
  background: #e7d9b7ea;
  padding: 10px;
  margin: 10px 20px;
  text-align: center;
  cursor: pointer;
}
.timeSlot:hover, .timeSlot.picked {
  background: #e7c678ea;
  box-shadow: inset -3px -3px #be973dea;
}
.next {
  background: #e7d9b7ea;
  position: absolute;
  bottom: 20px;
  right: 1px;
  width: 6%;
  font-size: 14px;
  color:rgb(7, 6, 6);
  line-height: 80%;
  padding: 10px;
  margin: 10px 20px;
  text-align: center;
  cursor: pointer; 
}
.next:hover {
  background: #e7c678ea;
  box-shadow: inset -3px -3px #be973dea;
  color:rgb(7, 6, 6);
}
.disabledNext {
  position: absolute;
  bottom: 20px;
  right: 1px;
  width: 6%;
  font-size: 14px;
  line-height: 80%;
  padding: 10px;
  margin: 10px 20px;
  text-align: center;
  cursor: pointer; 
}

.matchResult {
  background:#ffffff;
  position: relative;
  width: 70vw;
  height: 70vh;
}

.matchResultGroup {
  position: relative;
  left: 5vw;
  top: 15vw;
  width: 25vw;
  height: 25vh;
  display: inline-block;
  list-style: none;
}

.matchResultButtonGroup {
  position: relative;
  left: 20vw;
  top: 15vw;
  width: 25vw;
  height: 25vh;
  display: inline-block;
}

.reschedule {
  width: 20vw;
  background: #e7d9b7ea;
  padding: 1vh;
  margin: 1vh;
  text-align: center;
  cursor: pointer;
}
.reschedule:hover {
  background: #e7c678ea;
  box-shadow: inset -3px -3px #be973dea;
  color:rgb(7, 6, 6);
}
.cancel-booking {
  width: 20vw;
  background: #e7d9b7ea;
  padding: 1vh;
  margin: 1vh;
  text-align: center;
  cursor: pointer;
}
.cancel-booking:hover {
  background: #e7c678ea;
  box-shadow: inset -3px -3px #be973dea;
  color:rgb(7, 6, 6);
}
.confirm {
  width: 20vw;
  background: #be973dea;
  padding: 1vh;
  margin: 1vh;
  text-align: center;
  cursor: pointer;
}
.confirm:hover {
  background: rgba(165, 128, 43, 0.918);
  box-shadow: inset -3px -3px #58410aea;
  color:rgb(7, 6, 6);
}


.calendar-container {
  background: #f3fbfa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  min-height: 100vh;
  font-family: open sans;
  padding: 40px;
}
.time-picker-container {
  width: 1500px;
  background: rgb(168, 167, 167);
  padding: 80px;
}
h4 {
  margin-bottom: 40px;
  font-weight: 700;
}