.listenerInfoPopup-modal{

}

.modal-content{
    min-width: 90vw !important;
}



.listenerInfoPopup-body{
    padding: 2vw;
}

.modal-dialog {
    margin: 0 !important;
    margin-left: 5vw !important;
}

