.navbar-brand{
    font-size: 1.5rem !important;
}

.nav-link{
    padding-left: 1vw !important;
    font-size: 1.2rem !important;
    vertical-align: bottom !important;
    padding-bottom: 0.35rem !important;
    opacity: 0.8;
}

.nav-link:hover{
    opacity: 0.9;
}

.navbar-right {
    float: right !important;
  }

.login,.register{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    opacity: 0.8 !important;
}

.login:hover,.register:hover{
    opacity: 0.9 !important;
}

.main-nav{
    background-color:rgb(255,255,255, 0.7) !important;
    padding-left:0 !important;
    position: fixed ; 
    top: 0 ;
    z-index: 3;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(99, 95, 90, 0.1);
    backdrop-filter: opacity(0.1);
    backdrop-filter: blur(3px);
}

.nav-name{
    margin-left:0 !important;
}

.nav-container{
    margin-left:2.3% !important;
}

.logo-img{
    max-height: 4vh !important;
    align-items:center !important;
    margin-right: 1vw;
}


@media only screen and (max-width: 600px) {
    .logo-img{
        margin-left: 34vw !important;
    }
    .main-nav button{
        border-style: none !important;
    }
}

